<div class="main user-show">
  <div class="container">
    <div class="user-info">
      <p>
        <strong>Uesr_ID:</strong>
        <%= @user.user_id %>
      </p><br>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p><br>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
    </div>
  </div>
</div>