<div class="about-main">
  <div class="about-message">
    <h2>Notify-Pushとは</h2>
  </div>
  <div class="about-info">
    <div class="about-top">
      <img src="/about1.png">
      <p>配信したい記事を登録する</p>
    </div>
    <div class="about-yj">
      <img src="/about2.png">
    </div>
    <div class="about-middle">
      <img src="/about3.png">
      <p>7-20時間で1hごとに通知ジョブが起動</p>
    </div>
    <div class="about-yj">
      <img src="/about4.png">
    </div>
    <div class="about-bottom">
      <img src="/about5.png">
      <p>タケダのiphoneに通知が届く</p>
    </div>
  </div>
  
  
</div>