<div class="main posts-new">
  <div class="container">
    <div class="form-heading">投稿する</div>
    <div class="form">
      <div class="form-body">
        <%= form_tag("/posts/create") do %>
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %> 
          <p>タイトル</p>
          <input name="title">
          <p>内容</p>
          <textarea name="content"></textarea>
          <p>URL</p>
          <input name="url">
          <%= submit_tag "投稿", data: { confirm: "投稿を作成しますか？" }  %>
        <% end %>
      </div>
    </div> 
  </div>
</div>