<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <p>タイトル</p>
          <input name="title">
          <p>内容</p>
          <textarea name="content"></textarea>
          <p>URL</p>
          <input name="url">
          <%= submit_tag "投稿", data: { confirm: "投稿を作成しますか？" }  %>
        </div>
      </div>
    <% end %>
  </div>
</div>